{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timebud</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <div class="logo">
          <h1><a href="{% url 'home' %}">Timebud</a></h1>
        </div>
        <nav>
          <ul>
            {% if user.is_authenticated %}
            <li><span class="nav-item">Welcome <strong>{{ user.username }}</strong></span></li>

              <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
              <li><a href="{% url 'watch_create' %}">List a Watch</a></li>
              <li>
                <form action="{% url 'logout' %}" method="post" id="logout-form">
                  {% csrf_token %}
                  <button type="submit">Logout</button>
                </form>
              </li>
            {% else %}
              <li><a href="{% url 'login' %}">Login</a></li>
              <li><a href="{% url 'signup' %}">Sign Up</a></li>
            {% endif %}
          </ul>
        </nav>
      </header>
      
    <main>
        {% if messages %}
        <div class="messages">
          {% for message in messages %}
            <div class="flash-{{ message.tags }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
      

        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Timebud. All rights reserved.</p>
    </footer>
    {% block scripts %}{% endblock %} 
</body>
</html>
