{% extends 'base.html' %}
{% load static %}
{% block content %}

<h2>Live Auction</h2>

{% if watches %}
<ul class="watch-list">
    {% for watch in watches %}
      <li class="watch-card">
        <a href="{% url 'watch_detail' watch.id %}">
          <img src="{{ watch.image.url }}" alt="{{ watch.title }}">
          <h4>{{ watch.brand }} - {{ watch.title }}</h4>
          <p>Condition: {{ watch.get_condition_display }}</p>
        </a>
      </li>
    {% endfor %}
  </ul>
  
{% else %}
    <p>No watches available right now. Check back later!</p>
{% endif %}
{% endblock %}
